{%extends "../django_registration/base.html"%}
{% load bootstrap3 %}
{% block content %}
<div class="container-fluid auth-pg">
  <div class="row under-nav">
      <div class="col-xs-12 col-lg-4"></div>            
      <div class="col-xs-12 col-lg-4">
        
        <div class="jumbotron">
          <div class="card">
            <div class="card-body">
              <div class="row">                
                <div class="col-xs-12 text-center">
                  <h3>
                    <span class="auth">
                      <span class="label label-primary">ap</span>
                      <span class="label label-success">p.g</span>
                      <span class="label label-default">ra</span>
                      <span class="label label-danger">de</span>
                    </span>
                  </h3>
                </div>                
              </div>
              <h2 class="text-center title-font">app.grade</h2>  
              <br>
              <form  action="/accounts/login/" method="post">
                {% csrf_token %}
                {% bootstrap_form form%}
    
                <div class="form-group">
                  <br>
                  <input type="submit" class="btn btn-info form-control" value="Log In">
                </div>
    
                <input type="hidden" name="next" value="{{next}}">
    
              </form> 
              <h5 class="bolden text-center">Don't have an account? <a href="/accounts/register">Sign up </a></h5>           
            </div>
          </div>
          <br>
          <div class="card">
            <div class="card-body text-center">
              <div class="row">
                <div class="col-xs-5"></div>
                <div class="col-xs-2">
                  <img src="https://cdn0.iconfinder.com/data/icons/octicons/1024/mark-github-512.png" class="img-responsive" alt="github icon">
                </div>
                <div class="col-xs-5"></div>                
              </div>
              <h4 class="bolden">Log in with <span class="green"><a href="{% url 'social:begin' 'github' %}">GitHub</a></span></h4>              
            </div>
          </div>
        </div>        
  
      </div>
      <div class="col-xs-12 col-lg-4"></div>
  </div>
</div>

{% endblock %}