<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/gradeapp.css">    
</head>
<body>
    <footer>
        <div class="container-fluid">
            <div class="row text-center">                
                <div class="col-xs-12">
                    <hr class="hr-footer">
                    <h5 class="bolden">&copy;<a href="https://github.com/Collin9726"> Collin Owino</a> 2020</h5>                                                                          
                </div>                
            </div> 
        </div>
    </footer>
</body>
</html>