{%extends 'base.html'%}
{% load bootstrap3 %} 
{% load static %}

{% block content %}
{{block.super}}

<div class="container-fluid">
    <div class="row jumbo">
        <div class="col-xs-12 col-md-2">
            <div class="row">
                <div class="col-xs-12">
                    <div class="jumbotron text-center app-intro">
                        <h5>
                            <span class="label label-primary">ap</span>
                            <span class="label label-success">p.g</span>                            
                        </h5>
                        <h5>
                            <span class="label label-default">ra</span>
                            <span class="label label-danger">de</span>
                        </h5>                        
                        <hr>
                        <h2>Featured Projects</h2>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-9 carousel-border">
            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="8000">                            
                <div class="carousel-inner">                     

                  {% for feature in featured %}
                  {% if forloop.first %}
                  <div class="item active">
                    <img src="{{feature.cover_image.url}}" alt="Cover Image">
                    <div class="carousel-caption">
                        <h4 class="cyan"><a href="/viewproject/{{feature.id}}">{{feature.title}}</a></h4>
                        <h5><span class="label label-primary">Score {{feature.overall_score}}</span> - 
                            <span class="label label-success">Design {{feature.design_score}}</span> 
                            <span class="label label-default">Usability {{feature.usability_score}}</span> 
                            <span class="label label-danger">Content {{feature.content_score}}</span>                                 
                        </h5>                                                                                                     
                    </div>
                  </div>
                  {% else %}
                  <div class="item">
                    <img src="{{feature.cover_image.url}}" alt="Cover Image">
                    <div class="carousel-caption">
                        <h4 class="cyan"><a href="/viewproject/{{feature.id}}">{{feature.title}}</a></h4>
                        <h5><span class="label label-primary">Score {{feature.overall_score}}</span> - 
                            <span class="label label-success">Design {{feature.design_score}}</span> 
                            <span class="label label-default">Usability {{feature.usability_score}}</span> 
                            <span class="label label-danger">Content {{feature.content_score}}</span>                                 
                        </h5>                                                                                                     
                    </div>
                  </div>
                  {% endif %}
                  {% endfor %}
                                           
                </div>
              
                <!-- Controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">                          
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">                          
                </a>
            </div> 
            
            <!-- /Carousel -->
        </div>
        <div class="col-xs-1 col-md-1"></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="bolden">Projects</h1>
                    <hr>
                </div>
            </div>
            <div class="row display-flex">
                {% for project in projects %}
                <div class="col-xs-12 col-md-6 mb-4">
                    <div class="card project-card">
                        <h4 class="bolden">{{project.title}}</h4>
                        <a href="/viewproject/{{project.id}}"><img class="card-img-top" src="{{project.cover_image.url}}" alt="Project cover image"></a>                        
                        <div class="card-body"> 
                            <div class="row">
                                <div class="col-xs-4">
                                    <h5 class="bolden"><span class="fa fa-user"></span><a href="/userprofile/{{project.profile.id}}"> {{project.profile.account_holder.username}}</a></h5>
                                </div>
                                <div class="col-xs-8">
                                    <h5 class="bolden"><span class="glyphicon glyphicon-link"></span><a href="{{project.link}}" target="_blank"> Project site</a></h5>
                                </div>
                            </div>                                                 
                            <h5><span class="label label-primary">Score {{project.overall_score}}</span> - 
                                <span class="label label-success">Design {{project.design_score}}</span> 
                                <span class="label label-default">Usability {{project.usability_score}}</span> 
                                <span class="label label-danger">Content {{project.content_score}}</span>                                 
                            </h5>                     
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-xs-0 col-md-1"></div>
        <div class="col-xs-12 col-md-3">
            <div class="jumbotron jumbotron-quote">
                <div class="row">
                    <div class="col-xs-12">
                        <h2><u>Quote</u></h2>
                        <p>"{{quote.quote}}"</p>
                        <p class="text-muted">- {{quote.author}}</p>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
