{%extends 'base.html'%}
{% load bootstrap3 %} 
{% load static %}

{% block content %}
{{block.super}}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="jumbotron text-center">
                <h2>app.grade</h2>
                <h4>HOME</h4>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row display-flex">
        {% for project in projects %}
        <div class="col-xs-12 col-md-4">
            <div class="card">
                <img class="card-img-top" src="{{project.cover_image.url}}" alt="Project cover image">
                <div class="card-body">
                  <h5 class="card-title">{{project.title}}</h5>
                  <h6 class="text-muted">By: {{project.profile.account_holder.username}}</h6>
                  <p class="card-text">Score: {{project.overall_score}}</p>
                  <p>Link: <a href="{{project.link}}" target="_blank">{{project.link}}</a></p>
                  <a href="#" class="btn btn-primary">View project</a>
                </div>
              </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
