{%extends 'base.html'%}

{% block content %}
{{block.super}}

<div class="container">
    <br>
    <div class="row under-nav">
        <div class="col-xs-12 col-sm-6 col-md-3 prof-pic">
            <img class="thumbnail" src="{{profile.profile_photo.url}}" alt="{{profile.account_holder.username}}">
        </div>
        <div class="col-xs-0 col-sm-0 col-md-1"></div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <h2>{{profile.account_holder.username}}</h2>
            <p><span class="bolden">Bio: </span>{{profile.bio}}</p>
            {% if profile.account_holder.email %} 
            <p><span class="bolden"><span class="fa fa-envelope"></span></span> {{profile.account_holder.email}}</p>  
            {% endif %}         
            <h5 class="text-muted">Joined on {{profile.created}}</h5>
            <hr>
            <button class="btn btn-default" id="account_settings">Account Settings <span class="fa fa-cog"></span></button>            
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 account_options">
            <br>
            <h4 class="bolden">Account options</h4>
            <ul>
                <li><h5><a href="{%url 'upload-project'%}">Upload project</a></h5></li>
                <li><h5><a href="{%url 'change-profile-photo'%}">Change profile photo</a></h5></li>
                <li><h5><a href="#" data-toggle="modal" data-target="#deleteProfile">Delete profile</a></h5></li>                 
                <li><h5><a href="/logout">Log out</a></h5></li>            
            </ul>
            <!-- Modal -->
            <div class="modal fade" id="deleteProfile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">                                                       
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="bolden">{{profile.account_holder.username}}</h4> 
                        </div>
                        <div class="modal-body">
                            <h5>Are you sure you want to delete your profile??</h5>
                        </div>
                        <div class="modal-footer">
                            <a href="{%url 'delete-profile'%}"><button type="button" class="btn btn-danger">Yes</button></a>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">    
    <div class="row display-flex">
        <div class="col-xs-12">
            <h2 class="bolden">My Projects</h2>            
        </div>
        {% for project in projects %}
        <div class="col-xs-12 col-md-4 mb-4">
            <div class="card project-card">
                <h4 class="bolden">{{project.title}}</h4>
                <a href="/viewproject/{{project.id}}"><img class="card-img-top" src="{{project.cover_image.url}}" alt="Project cover image"></a>                        
                <div class="card-body"> 
                    <h5 class="bolden"><span class="glyphicon glyphicon-link"></span><a href="{{project.link}}" target="_blank"> Project site</a></h5>                                                 
                    <h5><span class="label label-primary">Score {{project.overall_score}}</span> - 
                        <span class="label label-success">Design {{project.design_score}}</span> 
                        <span class="label label-default">Usability {{project.usability_score}}</span> 
                        <span class="label label-danger">Content {{project.content_score}}</span>                                 
                    </h5>                     
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}