{%extends 'base.html'%}
{% load bootstrap3 %} 
{% load static %}

{% block content %}
{{block.super}}


<div class="container">
    <div class="row under-nav">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <h1>{{project.title}}</h1>
                    <h5><span class="label label-primary">Score {{project.overall_score}}</span> - 
                        <span class="label label-success">Design {{project.design_score}}</span> 
                        <span class="label label-default">Usability {{project.usability_score}}</span> 
                        <span class="label label-danger">Content {{project.content_score}}</span>                                 
                    </h5>
                    <hr>
                </div>
            </div>
            <div class="row">
                <!--post-->
                <div class="col-xs-12 col-md-7">
                    <div class="card card-post">
                        <div class="card-body">
                            <a href="{{project.link}}" target="_blank"><img src="{{project.cover_image.url}}" alt="Project cover image"></a>                            
                            <hr>    
                            <h5 class="bolden"><span class="fa fa-user"></span> By:<a href="/userprofile/{{project.profile.id}}"> {{project.profile.account_holder.username}}</a></h5> 
                            <h5 class="bolden"><span class="glyphicon glyphicon-link"></span><a href="{{project.link}}" target="_blank"> Project site</a></h5>                                                          
                            <h5 class="text-muted">{{project.posted}}</h5>
                            <h4 class="bolden">Description</h4>
                            {% autoescape on %}
                            <p class="card-text">{{project.description | safe}}</p>
                            {% endautoescape %}                    
                            <div class="row under-nav"></div>                                  
                        </div>
                    </div>
                </div>
                <div class="col-xs-0 col-md-1"></div>
                <!--scores-->
                <div class="col-xs-12 col-md-4 jumbotron jumbo-scores">
                    <div class="row">                        
                        <div class="col-xs-12">
                            {% if is_rated %}
                            {% for rated in is_rated %}
                            <h4 class="bolden">You rated this project:</h4>
                            <h5><span class="label label-primary">Score {{rated.overall_score}}</span> - 
                                <span class="label label-success">Design {{rated.design_score}}</span> 
                                <span class="label label-default">Usability {{rated.usability_score}}</span> 
                                <span class="label label-danger">Content {{rated.content_score}}</span>                                 
                            </h5> 
                            {% endfor %}
                            {% else %}
                            <h3>
                                <span class="auth">
                                  <span class="label label-primary">ap</span>
                                  <span class="label label-success">p.g</span>
                                  <span class="label label-default">ra</span>
                                  <span class="label label-danger">de</span>
                                </span>
                              </h3>
                            <h3 class="bolden">Rate project</h3>
                            <form id="rating_form">
                                {%csrf_token%}                                
                                         
                                <label class="radio-inline">
                                    <input type="radio" name="designradio" value="2" checked>
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="designradio" value="4">
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="designradio" value="6">
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="designradio" value="8">
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="designradio" value="10">
                                </label>
                                <h5 class="bolden">Design: <span class="label label-success">1-10</span></h5>
                                                               
                                <label class="radio-inline">
                                    <input type="radio" name="usabilityradio" value="2" checked>
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="usabilityradio" value="4">
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="usabilityradio" value="6">
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="usabilityradio" value="8">
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="usabilityradio" value="10">
                                </label>
                                <h5 class="bolden">Usability: <span class="label label-default">1-10</span></h5>
                                                            
                                <label class="radio-inline">
                                    <input type="radio" name="contentradio" value="2" checked>
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="contentradio" value="4">
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="contentradio" value="6">
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="contentradio" value="8">
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="contentradio" value="10">
                                </label>
                                <h5 class="bolden">Content: <span class="label label-danger">1-10</span></h5>

                                <input type="text" value="{{project.id}}" class="no-display" name="this_project">

                                <div class="row">
                                    <div class="col-xs-12">
                                        <button class="btn btn-default" type="submit">Rate</button>
                                    </div>
                                </div>
                                
                            </form>            
                            {% endif %}
                        </div>
                    </div>

                    {% if project.profile.account_holder == current_user %}
                    <hr>
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-default" id="edit_proj">Edit Project <span class="fa fa-cog"></span></button>
                        </div>
                        <div class="col-xs-12 project_options">
                            <h4 class="bolden">Edit options</h4>
                            <ul>
                                <li><h5><a href="/updatedescription/{{project.id}}">Edit description</a></h5></li>
                                <li><h5><a href="#" data-toggle="modal" data-target="#deleteModal">Delete project</a></h5></li>
                            </ul>
                            <!-- Modal -->
                            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">                            
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="bolden">{{project.title}}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <h5>Are you sure you want to delete "{{project.title}}"?</h5>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="/deleteproject/{{project.id}}"><button type="button" class="btn btn-danger">Yes</button></a>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}


                </div>
            </div>            
        </div>       
    </div>
</div>

{% endblock %}

{% block scripts %} 
{{block.super}}
  <script type="text/javascript" src="{%static 'js/gradeapp.js'%}"></script>
{% endblock %}